 .card{
    background: linear-gradient(0deg, #0B0B0B, #121212);
       margin: 8px;
    border-radius: 1rem; 
 }
 
 .col-1 {
        flex: 0 0 auto;
        width: 8.3333333333%;
        border: 1px solid #00C851;
    }

    .col-2 {
        flex: 0 0 auto;
        width: 16.6666666667%;
        border: 1px solid #00C851;
    }

    .col-3 {
        flex: 0 0 auto;
        width: 25%;
        border: 1px solid #00C851;
    }

    .col-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
        border: 1px solid #00C851;
    }

    .col-5 {
        flex: 0 0 auto;
        width: 41.6666666667%;
        border: 1px solid #00C851;
    }

    .col-6 {
        flex: 0 0 auto;
        width: 50%;
        border: 1px solid #00C851;
    }

    .col-7 {
        flex: 0 0 auto;
        width: 58.3333333333%;
        border: 1px solid #00C851;
    }

    .col-8 {
        flex: 0 0 auto;
        width: 66.6666666667%;
        border: 1px solid #00C851;
    }

    .col-9 {
        flex: 0 0 auto;
        width: 75%;
        border: 1px solid #00C851;
    }

    .col-10 {
        flex: 0 0 auto;
        width: 83.3333333333%;
        border: 1px solid #00C851;
    }

    .col-11 {
        flex: 0 0 auto;
        width: 91.6666666667%;
        border: 1px solid #00C851;
    }

    .col-12 {
        flex: 0 0 auto;
        width: 100%;
        border: 1px solid #00C851;
        display: flex;
    }
